<div class="container">
    <div class="row">
        <div class="col">
            <h1>Gestion des joueurs</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-white border-primary">
                <div class="card-header bg-primary">Liste des joueurs</div>
                <div class="card-body">
                    <div class="card-text">
                        <table class="table table-striped">
                            <tr class="bg-primary text-white">
                                <th>ID du joueur</th>
                                <th>Nom du joueur</th>
                            </tr>
                            <tr *ngIf="(players$ | async)?.length == 0">
                                <td [attr.colspan]="2">Aucun joueur trouvé dans la base données !</td>
                            </tr>
                            <tr *ngFor="let p of players$ | async; index as i" [class.bg-info]="i % 2 == 0">
                                <td>{{ p.id }}</td>
                                <td>{{ p.name }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white border-primary">
                <div class="card-header bg-primary">Création d'un joueur</div>
                <div class="card-body">
                    <div class="card-text">
                        <form [formGroup]="creationForm" (ngSubmit)="onSubmit()">
                            <div class="form-group required" [class.has-danger]="name?.invalid && (name?.dirty || name?.touched)">
                                <label for="name" class="control-label text-black">Nom du joueur</label>
                                <input id="name"
                                       type="text"
                                       formControlName="name"
                                       class="form-control"
                                       [class.is-invalid]="name?.invalid && (name?.dirty || name?.touched)"
                                       [class.is-valid]="name?.valid && (name?.dirty || name?.touched)"
                                />
                                <div class="form-helper"></div>
                                <div class="text-warning" *ngIf="(name?.dirty || name?.touched) && name?.status === 'PENDING'">
                                    Validation en cours...
                                </div>
                                <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="invalid-feedback">
                                    <div *ngIf="name?.errors?.['required']">Le nom est obligatoire.</div>
                                    <div *ngIf="name?.errors?.['minlength']">Le nom doit contenir au moins 2 caractères.</div>
                                    <div *ngIf="name?.errors?.['maxlength']">Le nom doit comporter maximum 150 caractères.</div>
                                    <div *ngIf="name?.errors?.['uniquePlayerName']">Le nom du joueur existe déjà.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <fieldset>
                                    <button class="btn btn-primary"type="submit"[disabled]="!creationForm?.valid">Enregistrer</button>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
